<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>B-vote</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">


  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="/" class="scrollto"><img src="/static/img/logo2.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
      <li><a href="admin_home">HOME</a></li>
      <li class="dropdown sfHover">
        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">MANAGE</a>
          <div class="dropdown-menu">
            <ol><a style="color: red" href="admin_manage_election"> ELECTIONS</a></ol>
            <ol><a style="color: red" href="admin_manage_district"> DISTRICTS</a></ol>
            <ol><a style="color: red" href="admin_manage_booth">BOOTH</a></ol>
            <ol><a style="color: red" href="admin_manage_candidate">CANDIDATES</a></ol>
            <ol><a style="color: red" href="admin_manage_voters">VOTERS</a></ol>
          </div>
      </li>
      <li class="dropdown sfHover">
      <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">CLEAR</a>
          <div class="dropdown-menu">
            <ol><a style="color: red" href="clear_tables">CLEAR ALL DATA</a></ol>
          </div>
      </li>
			<li><a href="admin_count_vote">RESULT</a></li>
      <li><a href="/login">LOGOUT</a></li>
        </ul>
      </nav>
    </div>
  </header>
</head>
<body>
