<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>B-vote</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

 
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="/" class="scrollto"><img src="/static/img/logo2.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
         	<li><a href="candidate_home">HOME</a></li>
    			<li><a href="candidate_view_voting_status">VIEW VOTING STATUS</a></li>
          <li><a href="/login">LOGOUT</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
