{% include'district_header.html' %}
<section id="intro">
<div class="intro-container wow fadeIn">
	<div class="scroll-bg" style="background: #373737;  padding: 10px; border-radius: 20px;  width: 700px; margin: 10% auto;">
        <div class="scroll-div" style="  width: 700px; background: #373737; height: 600px; overflow: hidden; overflow-y: scroll;">
            <div class="scroll-object" style="  color: white; font-family: cursive; font-size: 15px; padding: 20px;">
				<center>
				<form >
					<h1 style="color: white;">BOOTHS</h1><br>
					<table class="table" style="color: white; width: 500px;">
						<tr>
							<th>Sl.No</th>
							<th>District name</th>
							<th>booth</th>

						</tr>
						{% for row in data['booths'] %}
						<tr>
							<td>{{loop.index}}</td>
							<td>{{row['district']}}</td>
								<td>{{row['booth']}}</td>
						</tr>
						{% endfor %}
						
					</table>
				</form>
				</center>
			</div>
		</div>
	</div>
{% include'footer.html' %}