</div>
</section>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="/static/img/logo2.png" alt="TheEvenet">
            <p>Bvote is the new technical way to conduct voting . By this we have  mainly focused to improve the way of attending elections / getting results / managing elections in a highly secure way !.It gives voters the possibility to easily and comfortably fill out and cast a ballot using their own personal computer or smartphone, allowing them to vote from virtually any location with Internet access.Online Voting, on the other hand, offers the benefits of these alternatives without any of the drawbacks. With online voting, every voter is guaranteed an accessible and secure voting method, their votes remain private and confidential, and they can participate in an election from anywhere, at any time.</p>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              THATHAMPALLY P.O <br>
              ALAPPUZHA,688013<br>
              KERALA<br>
              <strong>Phone:</strong><br> +91 9645611774<br>
             +91 7356310191<br>
              <strong>Email:</strong> thomasantony12042001@gmail.com<br>
              ajmalaju2580@gmail.com <br>
            </p>

            <div class="social-links">
              <a href="https://www.facebook.com/ajmalajuz778" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/ajmal_vlogz/" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>B-vote</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
        -->
        Designed by <a href="https://bootstrapmade.com/">Ajmal & Thomas</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="/static/lib/jquery/jquery.min.js"></script>
  <script src="/static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/lib/easing/easing.min.js"></script>
  <script src="/static/lib/superfish/hoverIntent.js"></script>
  <script src="/static/lib/superfish/superfish.min.js"></script>
  <script src="/static/lib/wow/wow.min.js"></script>
  <script src="/static/lib/venobox/venobox.min.js"></script>
  <script src="/static/lib/owlcarousel/owl.carousel.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="/static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/static/js/main.js"></script>
</body>

</html>





{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
    <script type="text/javascript">alert("{{message}}")</script>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}