<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>B-vote</title>
  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">


  <!-- Bootstrap CSS File -->
  <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/lib/venobox/venobox.css" rel="stylesheet">
  <link href="/static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/css/style.css" rel="stylesheet">

 
</head>

<body>
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="/" class="scrollto"><img src="/static/img/logo2.png" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="district_home">HOME</a></li>
          <li><a href="voter_view_candidate">CANDIDATE</a></li>
          <li><a href="voter_view_district_details">DISTRIC DETAILS</a></li>
          <li><a href="voter_view_election_status">ELECTION STATUS</a></li>
          <li><a href="/login">LOGOUT</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->
