{% include'voter_header.html' %}
<section id="intro">
<div class="intro-container wow fadeIn">
	<div class="scroll-bg" style="background: #373737;  padding: 10px; border-radius: 20px;  width: 1200px; margin: 10% auto;">
    	<div class="scroll-div" style="  width: 1200px; background: #373737; height: 600px; overflow: hidden; overflow-y: scroll;">
    		<div class="scroll-object" style="  color: white; font-family: cursive; font-size: 15px; padding: 20px;">
				<center>
				<h1 style="color: white">CANDIDATES</h1>
				<br>
				<form>
					<table class="table" style="width: 500px; color: white">
						<tr>
							<th>Sl.no</th>
							<th>Election_name</th>
							<th>Name</th>
							<th>Photo</th>
							<th>Age</th>
							<th>Dob</th>
							<th>Place</th>
							<th>City</th>
							<th>State</th>
							<th>Phone</th>
							<th>Email</th>
							</tr>

							{% for row in data['voters']%}
							<tr>
								<td>{{loop.index}}</td>
								<td>{{row['body']}}</td>
								<td>{{row['candidate']}}</td>
								<td><img src="/{{ row['image']}}" height="70px" width="80px" ></td>
								<td>{{row['age']}}</td>
								<td>{{row['dob']}}</td>
								<td>{{row['place']}}</td>
								<td>{{row['city']}}</td>
								<td>{{row['state']}}</td>
								<td>{{row['phone']}}</td>
								<td>{{row['email']}}</td>
							</tr>
							{% endfor %}	
					</table>
				</form>
					
				</center>
			</div>
		</div>
	</div>
{% include'footer.html' %}