{%include 'voter_header.html'%}
<section id="intro">
<div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The online Voting System<br><span>B-vote</span></h1>
      <a href="https://youtu.be/d0iLN8LDJ8g" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      <a href="#about" class="about-btn scrollto">About B-vote</a>
</div>
</section>

  <main id="main">
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About B-vote</h2>
            <p>At the end of any political term, millions of voters are called upon to cast their votes for their next political representatives. Unfortunately, many eligible voters will not be able to reach a polling station during the election.
            Some are living abroad or are deployed in the military. Some have disabilities and face inaccessible polling locations. Some simply don’t have the means to take the time to vote, whether it be due to a job, to travels, or to living far away from a voting center.But if citizens could vote from anywhere, and at any time, then these hurdles wouldn’t exist.
            This is exactly where online voting comes in. It gives voters the possibility to easily and comfortably fill out and cast a ballot using their own personal computer or smartphone, allowing them to vote from virtually any location with Internet access.</p>
          </div>
          <div class="col-lg-3">
            <h3>Why use it?</h3>
            <p>Online Voting, on the other hand, offers the benefits of these alternatives without any of the drawbacks. With online voting, every voter is guaranteed an accessible and secure voting method, their votes remain private and confidential, and they can participate in an election from anywhere, at any time.</p>
          </div>
          <div class="col-lg-3">
            <h3>How is it secure?</h3>
            <p>In an online voting election, votes can only be cast by eligible voters. They are then encrypted on the voter’s computer or smartphone, just after they are created, and are kept protected until they are counted. Also, no vote can be added, modified or removed from the ballot box in order to alter the final election result. In fact, a state-of-the-art online voting mechanism should offer higher security measures than regular paper voting, as well as any postal voting system.</p>
          </div>
        </div>

    {% include 'footer.html' %}

