{% include'voter_header.html' %}
<section id="intro">
<div class="intro-container wow fadeIn">
	<div class="scroll-bg" style="background: #373737;  padding: 10px; border-radius: 20px;  width: 700px; margin: 10% auto;">
    	<div class="scroll-div" style="  width: 700px; background: #373737; height: 600px; overflow: hidden; overflow-y: scroll;">
    		<div class="scroll-object" style="  color: white; font-family: cursive; font-size: 15px; padding: 20px;">
				<center>
				<h1>MAKE VOTE</h1>
				<form>
					<table border="1" class="table" style="width: 500px; color: white">
						<tr>
							<th>Sl no</th>
							<th>Image</th>
							<th>Candidate name</th>
							
						</tr>
						{% for row in data['candidates'] %}
						<tr>
							<td>{{loop.index}}</td>
							<td><img src="/{{ row['image']}}" height="70px" width="80px" ></td>
							<td>{{row['NAME']}}</td>
							<td><a href="?action=vote&ids={{data['ids']}}&cids={{row['candidate_id']}}" class="btn btn-danger">VOTE</a></td>
							
						</tr>
						{% endfor %}
					</table>
				</form>
				</center>
			</div>
		</div>
	</div>
{% include'footer.html' %}